APP_ENV=dev
CACHE_TTL_HOURS=24
DATA_SOURCE_PRIORITY=KBS,CafeF,Vietstock,FireAnt,DNSE
MAX_RISK_PER_TRADE=0.02
MAX_POSITION_PCT=0.20
MAX_SECTOR_PCT=0.35
ENABLE_ML=false
ENABLE_STREAMLIT=true
REQUEST_TIMEOUT_SECONDS=12

